<div class="row">
  <div class="col-md-7 col-centered">
    <form class="user-form" autocomplete="off" #loginForm="ngForm"
      (ngSubmit)="processForm(loginForm.value);" >
      <fieldset>
        <legend>Login</legend>

        <div class="form-group col-md-12">
            <input placeholder="Enter your username " class="form-control" required type="text"
              [(ngModel)]="user.username" #username="ngModel" id="username" name="username">
            <div *ngIf="username.invalid && (username.tuched || password.dirty)">
              <p class="text-danger" *ngIf="username.errors.required">Value is required</p>
            </div>
        </div>

        <div class="form-group col-md-12">
          <input placeholder="Enter your password " class="form-control" required type="password"
            [(ngModel)]="user.password" #password="ngModel" id="password" name="password">
          <div *ngIf="password.invalid && (password.tuched || password.dirty)">
            <p class="text-danger" *ngIf="password.errors.required">Value is required</p>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="btn-grup">
            <button class="btn btn- btn-login" [disabled]="loginForm.invalid" type="submit">Login</button>
          </div>
          <p>You dont have an acount ? <a routerLink="/register"><span class="glyphicon glyphicon-user"></span>
              Sign up</a></p>
        </div>
      </fieldset>

    </form>
  </div>
</div>