<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['']">
       {{ title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['dashboard']">Dashbord</a></li>
        <li routerLinkActive="active"><a [routerLink]="['cars']">Cars</a></li>
        <li routerLinkActive="active"><a [routerLink]="['employee']">Employees</a></li>
        <li routerLinkActive="active"><a [routerLink]="['report']">Report</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a [routerLink]="['register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li routerLinkActive="active"><a [routerLink]="['login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <router-outlet></router-outlet>
  <!-- Our page is here -->
</div><!-- /.container -->
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Company
             </h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Payment Center</a></li>
              <li><a href="#">Contact Directory</a></li>
              <li><a href="#">Forms</a></li>
              <li><a href="#">News and Updates</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Employees & Functions 
            </h4>
            <ul class="list-unstyled">
              <li><a href="#">Website Tutorial</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Webmaster</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Cars</h4>
            <ul class="list-unstyled">
              <li><a href="#">Parks and Recreation</a></li>
              <li><a href="#">Public Works</a></li>
              <li><a href="#">Police Department</a></li>
              <li><a href="#">Fire</a></li>
              <li><a href="#">Mayor and City Council</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook">F</i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin">ln</i></a></li>
               <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-linkedin"style="font-size:8px;">Youtube</i></a></li>
               <li><a href="#" class="icoGoogle" title="Goolge"><i class="fa fa-linkedin">G+</i></a></li>
               
              </ul>				
      </div>
      </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2018 - Company Name.  All rights reserved.</p>
      </div>
    </div>
  
  
    </div>
    </div>
  </footer>


